@import "fonts.css";
@import "typescale.css";
@import "imageHotspots.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --brand-gold-color: theme('colors.brand-gold');
    --brand-fuchsia-color: theme('colors.brand-fuchsia');
    --brand-burnt-orange-color: theme('colors.brand-burnt-orange');
    --brand-dark-shadow-lch: theme('colors.brand-dark-shadow-lch');
    --brand-dark-shadow-color: oklch(theme('colors.brand-dark-shadow-lch') / 1);
    --shadow-color: rgb(0 0 0 / 0.18);
    --full-shadow: 0 4px 6px -1px var(--full-shadow-color), 0 2px 4px -2px var(--full-shadow-color), 0 -4px 6px -1px var(--full-shadow-color), 0 -2px 4px -2px var(--full-shadow-color);
    --full-shadow-color: rgb(0 0 0 / 0.1);
    color-scheme: light dark;
  }

  .dark {
    --shadow-color: oklch(var(--brand-dark-shadow-lch) / var(--shadow-alpha));
    --shadow-alpha: 0.73;
    --full-shadow: 0 -2px 60px 6px var(--full-shadow-color); 
    --full-shadow-color: oklch(16.692% 0.04737 266.9 / 0.729);
  }

  body {
    @apply font-body;
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    line-height: var(--body-line-height);
    letter-spacing: var(--body-letter-spacing);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 { @apply font-display; }

  #prose h1, #prose h2, #prose h3, #prose h4, #prose h5, #prose h6 { @apply mt-10 leading-none; }

  #prose p {
    @apply my-0;
  }

  #prose {
    grid-template-areas: "left content right";
  }

  #prose > * {
    grid-area: content;
    grid-row: auto;
  }

  #prose > figure {
    @apply col-start-1 col-end-4 my-5 mx-auto;
  }

  #prose > figure img  {
    @apply border-2 rounded-xl;
  }

  #siteLogo { 
    @apply font-display; 
    letter-spacing: 0.1em; 
  }
  h1 {
    font-size: clamp(var(--h1-size), 2.505rem + 1.729vw, var(--display-lg-size));
    line-height: var(--h1-line-height);
    letter-spacing: var(--h1-letter-spacing);
  }
  h2 {
    font-size: clamp(var(--h2-size), 1.2115rem + 2.4038vw, var(--display-md-size));
    line-height: var(--h2-line-height);
    letter-spacing: var(--h2-letter-spacing);
  }
  h3 {
    font-size: var(--h3-size);
    line-height: var(--h3-line-height);
    letter-spacing: var(--h3-letter-spacing);
  }
  h4 {
    font-size: var(--h4-size);
    line-height: var(--h4-line-height);
    letter-spacing: var(--h4-letter-spacing);
  }
  h5 {
    font-size: var(--h5-size);
    line-height: var(--h5-line-height);
    letter-spacing: var(--h5-letter-spacing);
  }
  h6 {
    font-size: var(--h6-size);
    line-height: var(--h6-line-height);
    letter-spacing: var(--h6-letter-spacing);
  }

  a {
    text-decoration: none;
  }

  p a {
    text-decoration: underline;
  }

  p a:hover,
  header nav a:hover  {
    @apply decoration-brand-fuchsia;
  }

  figcaption {
    @apply italic mt-3;
  }
  
  /* Paragraph sizes using tokens */
  p {
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    letter-spacing: var(--body-letter-spacing);
    font-weight: var(--body-weight);
  }
  .body-xl {
    font-size: var(--body-xl-size);
    line-height: var(--body-xl-line-height);
    letter-spacing: var(--body-xl-letter-spacing);
    font-weight: var(--body-xl-weight);
  }
  .small {
    font-size: var(--body-sm-size);
    line-height: var(--body-sm-line-height);
    letter-spacing: var(--body-sm-letter-spacing);
    font-weight: var(--body-sm-weight);
  }

  figcaption,
  table caption {
    font-size: var(--caption-size);
    line-height: var(--caption-line-height);
    letter-spacing: var(--caption-letter-spacing);
    font-weight: var(--caption-weight);
  }

  abbr[title] {
    text-transform: uppercase;
    font-size: var(--overline-size);
    line-height: var(--overline-line-height);
    letter-spacing: var(--overline-letter-spacing);
    font-weight: var(--overline-weight);
  }

  p,
  ul,
  ol {
    @apply mb-4;
  }

  ul {
    @apply list-inside list-disc;
  }

  *,
  ::before,
  ::after {
    @apply dark:border-gray-200;
    border-color: #ccc;
  }

  .progress-bar-wrapper {
    @apply w-full h-1 z-[49];
  }

  .progress-bar {
    @apply w-0 h-1 z-50 bg-brand-gold;
  }
}

@layer utilities {
  .max-w-post {
    max-width: calc(700px + 8rem);
  }
  .brand-gradient-right {
    @apply bg-gradient-to-r from-brand-fuchsia from-10% via-brand-gradient-midpoint via-60% to-brand-gold to-85%;
  }

  .brand-gradient-diagonal {
    @apply bg-gradient-to-tr from-brand-fuchsia to-brand-gold;
  }

  .cta-solid {
    @apply h-12 flex items-center justify-center gap-2 rounded-xl bg-brand-gold hover:brand-gradient-diagonal px-4 py-2 font-medium text-gray-900 hover:bg-transparent hover:text-white;
  }

  .cta-transparent {
    @apply h-12 transition flex items-center justify-center gap-2 rounded-xl border px-4 py-2 font-medium hover:border-gray-900 hover:bg-gray-200 backdrop-blur dark:hover:bg-gray-800/70 dark:hover:border-white;
  }

  .shadow-full {
    --tw-shadow: var(--full-shadow);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  :is(.shadow, .shadow-sm, .shadow-md, .shadow-lg, .shadow-xl, .shadow-2xl) {
    --tw-shadow-color: var(--shadow-color);
    --tw-shadow: var(--tw-shadow-colored);
  }
}