---
layout: layouts/base.njk
---
{% include "components/header.njk" %}
{% include "components/hero.njk" %}
{% include "components/projects.njk" %}
{% include "components/certifications.njk" %}
{#
{% include "components/skills.njk" %}
#}
{% include "components/about.njk" %}
{% include "components/contact.njk" %}
{% include "components/footer.njk" %}
